
/* ================================================== */
/* ===================== GLOBAL ===================== */
/* ================================================== */

.services-section h3 {
    line-height: var(--lh-section-l);
}

.services-solutions, .offers__list, .services-differences__container{
    font-size: var(--fs-body-m);
    line-height: var(--lh-body-m);
    font-weight: var(--fw-semiBold);
}

.next__btn {
    width: 64px;
    height: 64px;
    background-image: url('../../assets/icons/arrow.svg');
}


/* -------------- FIRST SECTION -------------- */
.services-solutions {
    display: grid;
    grid-template-columns: 1fr 64px 1fr;
    column-gap: 3.1875rem;
    row-gap: 4rem;
    align-items: center;

}

/* -------------- SECOND SECTION -------------- */

.offers__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.offers__list p {
    border-left: 3px solid var(--color-primary);
    padding-left: 1.25rem;
}

.services-works {
    display: grid;
    grid-template-columns: 165px 1fr;
    gap: 5.625rem;
}


/* -------------- THIRD SECTION -------------- */

/* .services-differences {
    position: relative;
} */

.services-differences__container {
    width: 87%;
    display: grid;
    gap: 2rem;
    margin: auto;
}


.break {
    display: none;
}




/* ================================================== */
/* =================== RESPONSIVE =================== */
/* ================================================== */


@media screen and (max-width:1075px) {

    .services-differences__container {
        width: 90%;;
    }
}

@media screen and (max-width: 950px) {

    .container {
        padding: 5.5rem;
    }

    .services-solutions, .offers__list {
        grid-template-columns: 1fr;
    }

    .services-solutions {
        gap: 1.5rem;
    }
    
    .offers__list {
        gap: 2rem;
    }

    .next__btn {
        margin: auto;
        transform: rotate(90deg);
    }

    .services-differences__container {
        width: 100%;
    }
    .break {
        display: inline;
    }
}


@media screen and (max-width: 710px) {
    
    .container {
        padding: 2.5rem;
    } 

    .next__btn {
        width: 48px;
        height: 48px;
        background-image: url('../../assets/icons/arrow-down.svg');
        background-repeat: no-repeat;
        transform: rotate(0deg);
    }

    .services-works, .offers__list {
        grid-template-columns: 1fr;
    }

    .offers__list, .services-works {
        gap: 2rem;
    }

    .services-differences, .services-differences__container {
        gap: 1rem;
    }

    .br {
        display: inline;
    }

}

@media screen and (max-width: 610px) {
    .services-section p {
        font-size: var(--fs-body-s)
    }
}
