/* ================================================== */
/* ===================== HEADER ===================== */
/* ================================================== */


.header__wrapper {
    background-image: url("../../assets/icons/bg.svg");
    background-size: 70rem;
    background-color: var(--color-secondary);
}

.header {

    background-position: center;
    background-size: cover;
}


.header__container {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
    gap: 0;
    color: var(--color-white);
    /* background-color: var(--color-secondary) */
}

.header__desc--border {
    line-height: 30px;
    font-size: var(--fs-body-l);
    border-left: 5px solid var(--color-primary);
    padding: 0 28px;
    margin: 24px 0 32px;
}

.header__desc {
    font-size: var(--fs-body-m);
    font-weight: var(--fw-medium);
    line-height: 30px;
}

.header__right {
    display: flex;
    justify-content: center;
}

.url-path {
    font-weight:var(--fw-semiBold);
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 0.5rem 9.5%;
}


/* ================================================== */
/* ================== ABOUT HEADER ================== */
/* ================================================== */

.about-header__container {
    padding: 80px 0 130px;
}

.about-header {
    background-image: url("../../assets/img/about-bg.svg");
    background-position: center 40%;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: var(--color-secondary);
}

.about-header h2 {
    color: var(--color-white);
    text-align: center;
    padding: 0 100px;
}

.about-header p {
    color: var(--color-white);
    border-left: none;
    text-align: center;
    padding: 0 120px;
}

/* ================================================== */
/* =================== RESPONSIVE =================== */
/* ================================================== */

@media screen and (max-width: 1380px) {
    .header__right {
        transform: scale(.8);
    }

}


@media screen and (max-width: 1075px) {
    .header__container {
        grid-template-columns: 55% 45%;
    }

    .header__right {
        transform: scale(0.8);
        padding: 0;
    }

    #hero {
        transform: scale(0.8, 0.8);
    }

    .about-header h2 {
        padding: 0px;
    }

    .about-header p {
        padding: 0;
    }


}


@media screen and (max-width: 950px) {
    .header__container {
        grid-template-columns: 1fr;
        gap: 0px;
    }

}


@media screen and (max-width: 610px) {

    .header__container h1 {
        font-size: 42px;
        line-height: 50px;
    }

    .header__container h2 {
        font-size: 36px;
        line-height: 42px;
    }


    .header__desc--border {
        line-height: var(--lh-body-m);
        font-size: var(--fs-body-s);
        padding: 0 0 0 12px;
        margin: 12 0 24px;
    }

    .header__desc {
        font-size: var(--fs-body-xs);
        font-weight: var(--fw-medium);
        line-height: 20px;
    }

    .header__right {
        display: flex;
        justify-content: center;
    }

    .header__right img {
        max-width: 80%;
    }
}